<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-5 fw-bold">GH Timeline: <%= link_to @repository, "https://github.com/#{@repository}", target: :_blank %></h1>
</div>

<div class="container-sm">
  <%= render @events %>
</div>
