<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-5 fw-bold">
    <a href="/" class="text-decoration-none link-dark">GH Timeline</a>
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Browse the timeline of events for any open soruce repository on GitHub all the way back to 2015. Data updated on an hourly basis from <a href='https://www.gharchive.org/'>GH Archive</a>.</p>
  </div>
</div>

<div class="pb-5 container-sm">
<%= line_chart @imports, thousands: "," %>
</div>

<div class="container-sm">
  <h2>Recent Events</h2>
  <%= render @events %>
</div>