<div class="col-lg-5 container-sm text-center">
  <form class="row g-2" action='/events'>
    <div class="col-auto ms-3">
      <label for="repo_name" class="visually-hidden">Repository Name</label>
      <input name='id' type="text" class="form-control" id="repo_name" placeholder="Search: eg octobox/octobox">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Browse Timeline</button>
    </div>
  </form>
</div>

<div class="pb-5 container-sm">
<%= line_chart @imports, thousands: "," %>
</div>

<div class="container-sm">
  <h2>Recent Events</h2>
  <%= render @events %>
</div>